{% extends "base.html" %}
{% block title %}Меню{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center my-4">
                {% for dish in dishes %}
                    <div class="img-wrap mx-5 my-3">
                        <a href="{{ dish.slug }}">
                            <img src="{{ dish.image.url }}" class="img-responsive rounded shadow-lg" width="450px" height="300px">
                            <h5 class="text-center my-5" style="color:#ffffff" id="dish">{{ dish.name }}</h5>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}